<div class="main-content">

  <div class="container-fluid">
    <!--<p-messages ></p-messages>-->
    <p-growl ></p-growl>
    <div class="row">

      <p-panel>
        <p-header>
          ثبت کاربر جدید
        </p-header>

        <div class="row">
          <form #userForm="ngForm">
          <div class="ui-g" style="font-family: iran-sans-web">

            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              ایمیل:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input #emailInput type="text" name="emailInput" pInputText [(ngModel)]="user.email" placeholder="ایمیل">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              نام کاربری:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input [disabled]="user.id" type="text" name="usernameInput" pInputText [(ngModel)]="user.username" placeholder="نام کاربری">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              کلمه عبور:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input [disabled]="user.id" type="password" name="passwordInput" pInputText [(ngModel)]="user.password" placeholder="کلمه عبور">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              تکرار کلمه عبور:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input [disabled]="user.id" type="password" name="passwordRepeatInput" pInputText [(ngModel)]="repeatPassword" placeholder="تکرار کلمه عبور">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">

            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-6">
              <button pButton type="button" name="submitBtn" label="ثبت" (click)="save()"></button>
            </div>
            <div class="ui-lg-3 ui-md-4 ui-sm-6">
              <button *ngIf="user.id" pButton type="button" class="ui-button-warning" name="cancelBtn" label="لغو" (click)="cancel()"></button>
            </div>
          </div>
          </form>
        </div>

        <br />
        <br/>

        <p-table #dt [value]="userList" [lazy]="true" (onLazyLoad)="loadUserList($event)" [paginator]="true"
                 [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                ایمیل
              </th>
              <th>
                نام کاربری
              </th>
              <th>
                مدیریت دسترسی ها
              </th>
              <th>
                تغییر کلمه عبور
              </th>
              <th>
                ویرایش
              </th>
              <th>
                حذف
              </th>
            </tr>
            <tr>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'in')">
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'username', 'in')">
              </th>
              <th>

              </th>
              <th>

              </th>
              <th>

              </th>
              <th>

              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                {{rowData.email}}
              </td>
              <td>
                {{rowData.username}}
              </td>
              <td>
                <button pButton type="button" label="مدیریت دسترسی ها" (click)="gotoPermissions(rowData)"></button>
              </td>
              <td>
                <button pButton type="button" label="تغییر کلمه عبور" (click)="changePass(rowData.id)"></button>
              </td>
              <td>
                <button pButton type="button" label="ویرایش" (click)="edit(rowData)"></button>
              </td>
              <td>
                <button pButton type="button" label="حذف" (click)="delete(rowData.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>



        <p-footer>

        </p-footer>
      </p-panel>
    </div>
  </div>
</div>

