<div class="main-content">

  <div class="container-fluid">
    <p-growl></p-growl>
    <div class="row">

      <p-panel>
        <p-header>
          مدیریت صفحات
        </p-header>

        <div class="row">
          <div class="ui-g" style="font-family: iran-sans-web">

            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              نام :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <input pInputText type="text" name="roleNameTxt" [(ngModel)]="webPage.name" placeholder="نام"/>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              عنوان :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <input pInputText type="text" name="roleNameTxt" [(ngModel)]="webPage.title" placeholder="عنوان "/>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              محتوا :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <textarea pInputText name="contentArea" [(ngModel)]="webPage.content" placeholder="محتوا " style="width:80%; min-height: 200px;"></textarea>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              آدرس :
            </div>
            <div class="ui-lg-6 ui-md-6 ui-sm-12">
              <input pInputText type="text" name="addressTxt" [(ngModel)]="webPage.address" style="width:80%; text-align: left; direction: ltr;" placeholder="آدرس "/>
            </div>
            <div class="ui-lg-2 ui-md-8 ui-sm-12">
              <button pButton type="button" name="submitBtn" label="ثبت" (click)="addWebPage()"></button>
            </div>
            <div class="ui-lg-2 ui-md-8 ui-sm-12">
              <button pButton *ngIf="webPage.id" type="button" name="clearBtn" label="لغو" (click)="clear()"></button>
            </div>


          </div>
        </div>

        <br/>
        <br/>

        <p-table #dt [value]="webPageList" [paginator]="true" rows="50">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                نام صفحه
              </th>
              <th>
                عنوان صفحه
              </th>
              <th>
                ویرایش
              </th>
              <th>
                حذف
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                {{rowData.name}}
              </td>
              <td>
                {{rowData.title}}
              </td>
              <td>
                <button pButton type="button" label="ویرایش" (click)="edit(rowData)"></button>
              </td>
              <td>
                <button pButton type="button" label="حذف" (click)="remove(rowData.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-footer>
        </p-footer>
      </p-panel>
    </div>
  </div>
</div>

