<p-growl></p-growl>
<div class="login-page" style="direction: rtl;">
  <div class="form" (keyup.enter)="login()">
    <img src="../../assets/img/logo.png" style="width: 150px;"/>
    <br />
    <h3>سامانه مدیریت کاربران</h3>
    <input matInput type="text" [(ngModel)]="user.username" placeholder="نام کاربری"/>
    <input matInput type="password" [(ngModel)]="user.password" placeholder="گذرواژه"/>
    <button mat-button (click)="login()" >ورود</button>

    <!--    <p *ngIf="errorMessage" style="color: red;">-->
    <!--      {{errorMessage}}-->
    <!--    </p>-->
  </div>
</div>
