<div class="main-content">

  <div class="container-fluid">
    <p-growl></p-growl>
    <div class="row">

      <p-panel>
        <p-header>
          مدیریت منو
        </p-header>

        <div class="row">
          <div class="ui-g" style="font-family: iran-sans-web">

            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              نام :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <input pInputText type="text" name="itemNameTxt" [(ngModel)]="menuItem.name" placeholder="نام"/>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              عنوان :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <input pInputText type="text" name="itemTitleTxt" [(ngModel)]="menuItem.title" placeholder="عنوان "/>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              مجوز :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <p-dropdown [options]="commonService.prepareDropDownOptions(permissionsList, 'name')" dataKey="id" [(ngModel)]="menuItem.permission"></p-dropdown>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              صفحه مربوطه :
            </div>
            <div class="ui-lg-10 ui-md-8 ui-sm-12">
              <p-dropdown [options]="commonService.prepareDropDownOptions(webPageList, 'name')" dataKey="id" [(ngModel)]="menuItem.page"></p-dropdown>
            </div>
            <div class="ui-lg-2 ui-md-4 ui-sm-12">
              آدرس :
            </div>
            <div class="ui-lg-6 ui-md-6 ui-sm-12">
              <input pInputText type="text" name="itemAddressTxt" [(ngModel)]="menuItem.address"
                     style="width:80%; text-align: left; direction: ltr;" placeholder="آدرس "/>
            </div>
            <div class="ui-lg-2 ui-md-8 ui-sm-12">
              <button pButton type="button" name="submitBtn" label="ثبت" (click)="saveItem()"></button>
            </div>
            <div class="ui-lg-2 ui-md-8 ui-sm-12">
              <button pButton *ngIf="menuItem.id" type="button" name="clearBtn" label="لغو" (click)="clear()"></button>
            </div>


          </div>
        </div>

        <br/>
        <br/>

        با انتخاب از ساختار درختی زیر می توانید منوی مورد نظر را به عنوان والد انتخاب کنید
        <br />
        <br />
        <div *ngIf="menuTreeList" style="direction: ltr;">
          <!--<p-tree [value]="menuTreeList" layout="horizontal" selectionMode="single" [(selection)]="selectedMenuItem"> </p-tree>-->
          <div *ngFor="let c of horizontalMenuItems">
            <p-tree [value]="c" layout="horizontal" selectionMode="single" [(selection)]="selectedMenuItem"></p-tree>
          </div>
        </div>

        <p-footer>
        </p-footer>
      </p-panel>

      <br/>
      <br/>

      <p-panel header="ویرایش منو ها">

        <div style="direction: ltr">
          <p-treeTable [value]="menuTreeList">
            <ng-template pTemplate="header">
              <tr>
                <th>عنوان</th>
                <th>تغییر</th>
                <th>حذف</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr [ttSelectableRow]="rowNode">
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{rowData.title}} ({{rowData.name}})
                </td>
                <td>
                  <button pButton type="button" name="editBtn" label="ویرایش" (click)="edit(rowData)"></button>
                </td>
                <td>
                  <button pButton class="ui-button-danger" type="button" *ngIf="!rowData.childTreeList" name="deleteBtn"
                          label="حذف" (click)="delete(rowData.id)"></button>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </p-panel>
    </div>
  </div>
</div>

