<div class="main-content">

  <div class="container-fluid">
    <!--<p-messages ></p-messages>-->
    <p-growl ></p-growl>
    <div class="row">

      <p-panel>
        <p-header>
          تغییر گذرواژه
        </p-header>

        <div class="row">

          <div class="ui-g" style="font-family: iran-sans-web">

            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              ایمیل:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input type="text" pInputText [(ngModel)]="user.email" placeholder="ایمیل">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              کلمه عبور فعلی:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input type="password" pInputText [(ngModel)]="user.oldPass" placeholder="کلمه فعلی">
            </div>

            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              کلمه عبور جدید:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input type="password" pInputText [(ngModel)]="user.pass" placeholder="کلمه جدید">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">
              تکرار کلمه عبور جدید:
            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <input type="password" pInputText [(ngModel)]="user.repeatPassword" placeholder="تکرار کلمه عبور جدید">
            </div>
            <div class="ui-lg-1 ui-md-4 ui-sm-12">

            </div>
            <div class="ui-lg-5 ui-md-8 ui-sm-12">
              <button pButton type="button" label="ثبت" (click)="changePass($event)"></button>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
